
<div>
    <br/>  
       
      <%= paginate @tweets  %>
 
    <h1>Tweets</h1>         
       
       <table class="table">

        <thead>
          <tr>
            <th>Profile_picture</th> <br>
            <th>Content</th>
            <th>User</th>
            <th>Likes</th>
            <th>Retweets</th>
            <th>Created date</th>
            <th>Friends</th>

            <th colspan="3"></th>
          </tr>                
        </thead>
              
        <tbody>
                
          <% @tweets.each do |tweet| %>
         
            <tr>
              <td><%= image_tag tweet.user.profile_picture, width: "64x64rem" %></td>
              <td>
                <% tweet.content.split.each do |word| %>
                  <% if word.start_with?('#') %>
                    <%= link_to word, root_path(q: word) %>
                  <% else %>
                    <%= word %>
                  <% end %>
                <% end %> 
            </td>    
              
            <td>Posted by <%= tweet.user.email %></td> 
                  <td><% pre_like = tweet.likes.find { |like| like.user_id == current_user.id if user_signed_in? } %>
                      <% if pre_like %>
                        <%= link_to image_tag('like.png', size: "20x20"), tweet_like_path(tweet, pre_like), method: :delete %>
                      <% else %>
                        <%= link_to image_tag('dislike.png', size: "20x20"), tweet_likes_path(tweet), method: :post %>
                      <% end %>
                <%= tweet.likes.count %></td>        
               
                      <% if tweet.tweet_id.present? %>
                        <p> Tweet de <%= tweet.origin.user.username %> </p>
                      <% end %>         
              <div>
                   <td><%= link_to image_tag('retweet.png', size: "25x20"), tweet_retweet_path(tweet.id),{method: :post} %></td>                    
                   <%= tweet.count_retweet if user_signed_in? && tweet.user_id != current_user.id %>
              </div>

                  <td><i class="far fa-clock mr-1"></i> <%= link_to time_ago_in_words(tweet.created_at), tweet_path(tweet.id) %></td> 
                  <td> <% if current_user = user_signed_in?  %> 
                       <button><%= link_to 'Delete Friend', friend_destroy_path(tweet.user.id), method: :delete %></button></td>             
                       <% else %>
                        <button><%= link_to 'Add Friend', friend_create_path(tweet.user.id), method: :post %></button> </td>             
                       <% end %>                                   
                  <td><button type="button" class="btn btn-light "><%= link_to 'Show', tweet %></button> </td>

                 
                  <td><button type="button" class="btn btn-light "><%= link_to 'Edit', edit_tweet_path(tweet) %></button> </td>
                  <td><button type="button" class="btn btn-danger "><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %> </button> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    
     <br>

      <button type="button" class="btn btn-warning ">
      <%= link_to 'New Tweet', new_tweet_path %> </button>

     <br/>  
     <br/>  
    
   <%= paginate @tweets  %> 

</div>
