
<div class="w3-container"> 
    <br>
    <br>

    <h1>Welcome to your Account</h1>
    <h2>Here you can show, edit and destroy your Tweet</h2>

    <br/>
    <button type="button" class="btn btn-warning">
    <%= link_to  "Iniciar sesion", new_user_session_path %> 
    </button>


    <button type="button" class="btn btn-warning">
    <%= link_to  "Crear cuenta", new_user_registration_path %> </button>

    <br/>
    <br/>

    <button type="button" class="btn btn-warning ">
    <%= link_to  "Cerrar sesion", destroy_user_session_path, method: :delete %> </button>
    
    <button type="button" class="btn btn-warning ">
    <%= link_to 'New Tweet', new_tweet_path %> </button>

    </div>

    <br/>

    <div class="container pt-3">
       
     <%= paginate @tweets  %>
 
    <h1>Tweets</h1>
        <br/>
        <div class="table-responsive">
            <table class="table">

              <thead>
                <tr>
                  <th>Profile_picture</th> <br>
                  <th>Content</th>
                  <th>User</th>
                  <th>Likes</th>
                  <th>retweets</th>
                  <th>created date</th>
                  <th colspan="3"></th>
                </tr>
                
              </thead>
     </div> 
 
       
        <tbody>
        
          <% @tweets.each do |tweet| %>
         
            <tr>
              <td><%= image_tag tweet.user.profile_picture, width: "64x64rem" %></td>
              <td><%= tweet.content %></td>
              <td><%= tweet.user.email %></td> 
              <td><% pre_like = tweet.likes.find { |like| like.user_id == current_user.id if user_signed_in? } %>
                  <% if pre_like %>
                    <%= link_to image_tag('like.png', size: "20x20"), tweet_like_path(tweet, pre_like), method: :delete %>
                  <% else %>
                    <%= link_to image_tag('dislike.png', size: "20x20"), tweet_likes_path(tweet), method: :post %>
                  <% end %>
                  <%= tweet.likes.count %></td>                
               

            
              <td><%= tweet.user.retweets %></td>   
              <td><%= link_to time_ago_in_words(tweet.created_at), tweet_path(tweet.id) %></td>   
                                
         
                    
             
                    
          
            
                                    
              <td><button type="button" class="btn btn-light "><%= link_to 'Show', tweet %></button> </td>
              <td><button type="button" class="btn btn-light "><%= link_to 'Edit', edit_tweet_path(tweet) %></button> </td>
              <td><button type="button" class="btn btn-danger "><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %> </button> </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  

    <br>

    <button type="button" class="btn btn-warning ">
    <%= link_to 'New Tweet', new_tweet_path %> </button>

     <br/>  
     <br/>  
  
  
   <%= paginate @tweets  %>


</div>
