<br>

<h2 class="text-center font-weight-bold mt-5">Edit your account</h2>
<hr class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<div class="field form-group">
  <%= f.label 'Nombre de Usuario' %>
  <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: 'Ingrese su nombre', class:'form-control' %>
</div>

<div class="field form-group">
  <%= f.label 'Profile Picture' %> <em class="font-weight-light">(Url)</em>
  <%= f.text_field :profile_picture, autofocus: true, autocomplete: "profile_picture", class:'form-control', placeholder: 'Optional. Else, we will upload one for you' %>
</div>  

<div class="field form-group"> 
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
  <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
</div>

<div class="field">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control' %>
</div>

<div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>

<div class="row">
  <div class="col offset-0">
    <div class="card mt-8 p-5">
      <h3 class="font-weight-bold text-center">Delete Account <span><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></span></h3>

      <p class="text-center mt-3"> If you eliminate this account, you will loose all your data.
      <div class="d-flex justify-content-center mt-2">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "¿Are you sure?" }, method: :delete, class:'submit-btn-delete' %>
      </div>
<br>

<div class="d-flex justify-content-center mt-2">
<button type="button" class="btn btn-warning ">
    <%= link_to "Back", :back %> </button>
</div> 



      